[submodule "submodules/cpu-adam"]
	path = submodules/cpu-adam
	url = https://github.com/TarzanZhao/cpu-adam.git
[submodule "submodules/fast-tsp"]
	path = submodules/fast-tsp
	url = https://github.com/TarzanZhao/fast-tsp.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/gsplat"]
	path = submodules/gsplat
	url = https://github.com/nerfstudio-project/gsplat.git
[submodule "submodules/clm_kernels"]
	path = submodules/clm_kernels
	url = https://github.com/nyu-systems/clm_kernels.git
