[submodule "submodules/gsplat"]
	path = submodules/gsplat
	url = git@github.com:alexis-mmm/gsplat.git
	branch = xiwen
[submodule "submodules/cpu-adam"]
	path = submodules/cpu-adam
	url = git@github.com:TarzanZhao/cpu-adam.git
[submodule "submodules/fast-tsp"]
	path = submodules/fast-tsp
	url = git@github.com:TarzanZhao/fast-tsp.git
[submodule "submodules/clm_kernels"]
	path = submodules/clm_kernels
	url = git@github.com:TarzanZhao/clm_kernels.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
